<div id="banner">
  <h1>The DBC Quizzerator</h1>
</div>
<div id ="wrapper">
  <div class="container">
    <div class="quiz"></div>
    <div class="question"></div>
    <div id="choice"></div>
    <div id="results">
      <h1>Your Results</h1>
      <div id="text">
        Number Correct: <span class="num_correct"></span></br>
        Number Incorrect: <span class="num_incorrect"></span>
      </div>
    </div>
  </div>
</div>
